<div class="signUpPage">
  <h1>Sign Up</h1>
  <form method="POST">

    <div class="error-message">
      <%= errorMessage %>
    </div>

    <div>
      <label for="first">First name:</label>
      <input type="text" name="first" />
    </div>
    
    <div>
      <label for="last">Last name:</label>
      <input type="text" name="last" />
    </div>
    
    <div>
      <label for="organization">Organization:</label>
      <input type="text" name="organization" />
    </div>
    
    <div>
      <label for="role">Role:</label>
        <select name="role">
          <optgroup label="Roles">
            <option value="teacher">Teacher</option>
            <option value="researcher">Researcher</option>
            <option value="ksde">KSDE</option>
            <option value="universityLiason">University Liason</option>
            <option value="other">Other</option>
          </optgroup>
        </select>
    </div>
    
    <div>
      <label for="email">Email:</label>
      <input type="text" name="email" />
    </div>
    
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password"/>
    </div>
    
    <div>
      <label for="passwordConfirmation">Password Confirmation:</label>
      <input type="password" name="passwordConfirmation"/>
    </div>
    
    <div>
      <input height:100px; width:100px type="submit" value="Create Account"/>
    </div>

  </form>
</div>