<div class="entireSignInDiv">
  <h3>Sign In</h1>
  <form method="POST">

    <div class="error-message">
      <%= errorMessage %>
    </div>

    <div class="signInDisplay">
      
      <div class="emailBox">
        <label for="email">Email:</label>
        <input type="text" name="email" />  
      </div>
      
      <div class="passBox">
        <label for="passsword">Password:</label>
        <input type="password" name="password"/>
      </div>
    
      <div class="submitBox">
        <input class="submit" type="submit" value="Sign In"/>
      </div>
      
    </div>
  </form>
</div>